/* TODO: Convert this to global styles w/ styled components */

@font-face {
  font-family: 'Streamster';
  src: url('../../static/fonts/Streamster.ttf') format('truetype');
}

@font-face {
  font-family: 'Atarian';
  src: url('../../static/fonts/Atarian.ttf') format('truetype');
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em Atarian;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 100%, 0.8);
  font-family: Atarian;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  background-image: url('../images/wall.jpg');
  background-size: 100%;
}
article,
aside,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: #ffd319;
  text-decoration: none;
}
a:active,
a:hover,
a:visited {
  outline-width: 0;
  color: #f222ff;
}

h1 {
  font-size: 2.25rem;
  line-height: 1.5;
}

img {
  border-style: none;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: Streamster;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.8rem;
  line-height: 1.1;
  letter-spacing: 0.3rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  text-rendering: optimizeLegibility;
  font-size: 1.3rem;
  line-height: 1.3;
}

li {
  margin-bottom: calc(1.45rem / 2);
}
ul li {
  padding-left: 0;
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}

li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}

/* neon sign effect taken from: https://codepen.io/markheggan/pen/LjrVYN */

.neon {
  font-family: Streamster;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  color: #fff;
  padding: 1rem 0;
  text-transform: uppercase;
  animation: neon 0.08s ease-in-out infinite alternate;
  letter-spacing: 0.6vw;
}

@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
      0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 132, 242, 0.52),
      0 0 21px rgba(30, 132, 242, 0.92), 0 0 34px rgba(30, 132, 242, 0.78),
      0 0 54px rgba(30, 132, 242, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
      0 0 30px rgba(202, 228, 225, 0.42), 0 0 12px rgba(30, 132, 242, 0.58),
      0 0 22px rgba(30, 132, 242, 0.84), 0 0 38px rgba(30, 132, 242, 0.88),
      0 0 60px rgba(30, 132, 242, 1);
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

@media only screen and (max-width: 550px) {
  h1.neon {
    line-height: 7vh;
    font-size: 1.8rem;
  }
  .neon {
    letter-spacing: unset;
    line-height: 6vh;
  }
}
